/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Nov, 2016, 3:50:15 PM
    Author     : navitk
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font-family: helvetica;
  font-weight: 300; }

.b-btn {
  padding: 5px 10px;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  margin: 0 4px;
  background-color: #5aa3ff; }
  .b-btn:hover {
    background-color: #1fa67a; }

.red-btn {
  padding: 5px 10px;
  color: #fff !important;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  margin: 0 4px;
  background-color: #de8301; }
  .red-btn:hover {
    background-color: #1fa67a; }

.grey-btn {
  padding: 5px 10px;
  color: #fff !important;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  margin: 0 4px;
  background-color: #b6b5b5; }
  .grey-btn:hover {
    background-color: #1fa67a; }

.g-btn {
  background-color: transparent;
  padding: 5px 10px;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  margin: 0 4px; }
  .g-btn:hover, .g-btn.active {
    background-color: #00593c; }

.green-btn {
  background-color: #1fa67a;
  padding: 5px 10px;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  margin: 0 4px; }
  .green-btn:hover, .green-btn.active {
    background-color: #5aa3ff;
    color: #fff !important; }

.green {
  color: #02ca48; }

.red {
  color: #fa3576; }

.validation_msg, .error_msg, .validation_msg2 {
  margin-top: 10px;
  display: block;
  font-size: 12px;
  color: red; }

.msg {
  margin-top: 10px;
  display: block;
  font-size: 12px; }

input[type="submit"]:focus, input[type="button"]:focus {
  outline: none; }

#valid_error .msg, #valid_error .error_msg {
  display: block;
  margin: 0 0 20px 20px; }

.ajax-loader {
  float: left;
  margin-left: 10px;
  display: none; }

.notify {
  position: fixed;
  left: 50%;
  top: -130px;
  transform: translate(-50%, 0);
  font-size: 13px;
  background-color: rgba(198, 212, 189, 0.9);
  border-radius: 10px;
  border: 1px solid #4e9221;
  padding: 5px 10px;
  z-index: 999;
  max-width: 300px; }
  .notify.error {
    border: 1px solid #8B0000;
    background-color: rgba(240, 128, 128, 0.9); }
    .notify.error .fa-info-circle {
      color: #8B0000; }
  .notify .fa-info-circle {
    color: #0c6501; }
  .notify .info-notice {
    display: inline-block;
    margin: 0 20px; }
  .notify br {
    line-height: 25px; }

.n-animation {
  top: 70px;
  transition: top 500ms linear; }

.highlight-row {
  font-weight: bold;
  transition: font-weight 500ms ease; }

.n-movetoleft {
  left: 200px;
  transition: left 500ms linear; }

.access-msg {
  width: 400px;
  margin: 0 auto; }
  .access-msg p {
    font-weight: 400;
    text-align: center; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #0b6f4f; }

.no-access {
  width: 600px;
  margin: 150px auto;
  min-height: 350px; }
  .no-access h3 {
    color: #ff2d2d;
    font-size: 35px;
    margin-bottom: 20px;
    overflow: hidden; }
    .no-access h3 .fa {
      float: left;
      font-size: 80px; }
    .no-access h3 span {
      display: inline-block;
      margin-left: 20px;
      line-height: 70px; }
  .no-access p {
    font-weight: 400;
    line-height: 20px; }

.wrapper {
  width: 100%;
  overflow: hidden; }

.white-bg {
  background-color: #f8f8f8;
  min-height: 690px; }

.header {
  padding: 10px 15px;
  background-color: #393939;
  display: inline-block;
  width: 98%; }
  .header .header-inner {
    width: 100%;
    text-align: right; }
    .header .header-inner .logo {
      float: left; }
    .header .header-inner ul li {
      list-style: none;
      display: inline-block;
      position: relative; }
      .header .header-inner ul li a .fa {
        margin-right: 5px; }
      .header .header-inner ul li a .fa-rt {
        margin-right: 0;
        margin-left: 7px; }
    .header .header-inner .user {
      color: #fff;
      float: left;
      line-height: 25px;
      font-size: 20px; }

.MenuDd {
  position: absolute;
  top: 35px;
  right: 0;
  min-width: 308px;
  border: 7px solid rgba(54, 54, 54, 0.8);
  border-radius: 3px;
  box-shadow: 0px 0px 4px #343434;
  display: none;
  z-index: 99; }
  .MenuDd ol {
    background-color: #fafafa; }
    .MenuDd ol li {
      color: #383838;
      border-bottom: 1px solid #cacaca;
      padding: 10px 20px;
      text-align: left;
      display: block !important; }
      .MenuDd ol li a {
        color: #343434;
        font-size: 16px;
        text-decoration: none; }
        .MenuDd ol li a:hover {
          color: #5aa3ff; }

.PopMenu {
  position: absolute;
  top: 35px;
  right: 0;
  min-width: 308px;
  border: 7px solid rgba(54, 54, 54, 0.8);
  border-radius: 3px;
  box-shadow: 0px 0px 4px #343434;
  display: none;
  z-index: 9999; }
  .PopMenu ul {
    background-color: #fafafa; }
    .PopMenu ul li {
      color: #383838;
      border-bottom: 1px solid #cacaca;
      padding: 20px;
      text-align: left;
      display: block !important; }
      .PopMenu ul li h4 {
        font-size: 18px;
        line-height: 24px; }
      .PopMenu ul li p a {
        color: #343434;
        font-size: 16px; }
        .PopMenu ul li p a:hover {
          color: #5aa3ff; }
      .PopMenu ul li .e-mail {
        margin-bottom: 10px; }
      .PopMenu ul li a {
        text-decoration: none;
        font-size: 12px;
        line-height: 18px;
        display: inline-block;
        color: #1fa67a;
        margin-bottom: 0px; }
        .PopMenu ul li a:hover {
          color: #5aa3ff; }
      .PopMenu ul li span {
        font-size: 12px;
        color: #cacaca;
        display: block;
        line-height: 18px;
        margin-bottom: 15px; }
      .PopMenu ul li .signout {
        font-size: 18px;
        line-height: 18px;
        margin: 0; }

.top-tabs {
  background-color: #1fa67a;
  padding: 10px 15px;
  border-bottom: 1px solid #5aa3ff; }
  .top-tabs a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    margin: 0 0 0 5px;
    display: inline-block;
    padding: 10px;
    position: relative; }
    .top-tabs a .arrow-down {
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translate(-50%, 0);
      display: none; }
    .top-tabs a:hover .arrow-down, .top-tabs a.active .arrow-down {
      border-top-color: #00593c;
      display: block; }

.feature-list {
  overflow: hidden;
  position: relative;
  height: 63px;
  background-color: #5aa3ff;
  border-top: 1px solid #fff; }
  .feature-list .prev {
    position: absolute;
    left: 0;
    top: 0;
    height: 63px;
    z-index: 99;
    width: 20px;
    padding-left: 5px;
    color: #393939;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6); }
    .feature-list .prev .fa {
      margin-top: 25px; }
  .feature-list .next {
    position: absolute;
    right: 0;
    top: 0;
    height: 63px;
    z-index: 99;
    width: 20px;
    padding-left: 5px;
    color: #393939;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.6); }
    .feature-list .next .fa {
      margin-top: 25px; }
  .feature-list ul {
    background-color: #5aa3ff;
    overflow: hidden;
    position: absolute;
    height: 63px;
    width: 1550px;
    padding: 0 20px; }
    .feature-list ul li {
      float: left;
      list-style: none;
      padding: 10px 20px;
      cursor: pointer; }
      .feature-list ul li a {
        color: #fff;
        text-decoration: none;
        text-align: center;
        display: inline-block;
        font-size: 13px; }
        .feature-list ul li a span {
          display: block;
          margin-top: 8px; }
        .feature-list ul li a .fa {
          font-size: 20px; }
      .feature-list ul li:hover, .feature-list ul li.active {
        background-color: #fff; }
        .feature-list ul li:hover a, .feature-list ul li.active a {
          color: #5aa3ff; }

.bottom-sec {
  background-color: #f4f4f4;
  overflow: hidden; }
  .bottom-sec .bread-crumb {
    overflow: hidden;
    padding: 10px 15px;
    float: left;
    font-weight: 600; }
    .bottom-sec .bread-crumb span {
      font-size: 14px;
      line-height: 16px;
      float: left; }
    .bottom-sec .bread-crumb i {
      margin: 0 7px;
      float: left; }
  .bottom-sec .custom-feature {
    float: right;
    padding: 10px 15px; }
    .bottom-sec .custom-feature a {
      text-decoration: none;
      font-size: 12px;
      line-height: 16px;
      color: #1fa67a;
      display: inline-block;
      margin-left: 15px; }
      .bottom-sec .custom-feature a .fa {
        display: inline-block;
        margin-right: 8px;
        font-size: 15px; }
      .bottom-sec .custom-feature a:hover {
        color: #5aa3ff; }
    .bottom-sec .custom-feature .green-btn {
      color: #fff;
      padding: 5px 25px; }

.user-filter {
  overflow: hidden;
  margin: 20px 0 10px 0;
  padding: 0 15px; }
  .user-filter a {
    float: left; }
    .user-filter a .fa {
      margin-right: 5px; }
    .user-filter a.b-btn {
      background-color: #8893a1; }
    .user-filter a:hover {
      background-color: #1fa67a; }
  .user-filter .search-box {
    float: left;
    margin-left: 20px; }
    .user-filter .search-box .search {
      border: 1px solid #cacaca;
      padding-right: 3px; }
      .user-filter .search-box .search input[type="text"] {
        border: 0px solid transparent;
        padding: 3px 5px; }
        .user-filter .search-box .search input[type="text"]:focus {
          outline: none; }
      .user-filter .search-box .search .fa {
        font-size: 13px; }
  .user-filter .display-result {
    float: right; }
    .user-filter .display-result p {
      padding-top: 8px;
      font-size: 12px;
      font-weight: 600; }

.content-table {
  overflow: hidden;
  min-height: 500px; }
  .content-table .left-sidebar {
    float: left;
    width: 150px;
    margin-top: 30px;
    padding-left: 15px; }
    .content-table .left-sidebar h6 a {
      display: block;
      text-decoration: none;
      background-color: #1fa67a;
      color: #fff;
      font-weight: 400;
      padding: 7px 10px;
      overflow: hidden; }
      .content-table .left-sidebar h6 a:hover {
        background-color: #5aa3ff; }
      .content-table .left-sidebar h6 a i {
        float: right; }
    .content-table .left-sidebar ul {
      margin: 15px 0; }
      .content-table .left-sidebar ul li {
        list-style: none;
        margin-left: 8px;
        margin-bottom: 5px;
        overflow: hidden; }
        .content-table .left-sidebar ul li small {
          float: left;
          font-size: 12px;
          padding: 8px 0;
          min-width: 35px; }
        .content-table .left-sidebar ul li label {
          font-size: 13px;
          margin-left: 8px;
          float: left;
          line-height: 16px;
          width: 77%; }
        .content-table .left-sidebar ul li select {
          width: 94%; }
        .content-table .left-sidebar ul li input[type="text"].datepicker {
          width: 57%;
          text-align: center; }
        .content-table .left-sidebar ul li input[type="radio"], .content-table .left-sidebar ul li input[type="checkbox"] {
          float: left;
          margin-top: 0; }
        .content-table .left-sidebar ul li input[type="text"] {
          width: 88%;
          padding: 4px 5px; }
          .content-table .left-sidebar ul li input[type="text"]:focus {
            outline: none; }
        .content-table .left-sidebar ul li input[type="submit"] {
          width: 35px;
          background-color: #5aa3ff;
          border: 0px solid;
          padding: 3px 0 5px 0;
          margin-top: 10px;
          border-radius: 4px; }
  .content-table .table-content {
    float: right;
    width: calc(100% - 210px); }

.customer-content {
  padding: 0 15px;
  margin-bottom: 30px; }
  .customer-content h3 {
    margin-bottom: 15px; }
  .customer-content .customer-list-outer {
    overflow: hidden; }
    .customer-content .customer-list-outer .customer-sec {
      float: left;
      width: 400px;
      padding-left: 25px; }
      .customer-content .customer-list-outer .customer-sec p {
        font-weight: 400;
        margin-bottom: 15px; }
      .customer-content .customer-list-outer .customer-sec select {
        width: 65%; }
    .customer-content .customer-list-outer .added-customer-outer {
      width: 40%;
      float: left; }
      .customer-content .customer-list-outer .added-customer-outer p {
        font-weight: 400;
        margin-bottom: 15px; }
      .customer-content .customer-list-outer .added-customer-outer .added-customer {
        width: 100%;
        border: 1px solid #cacaca;
        padding: 15px 15px 7px 15px;
        background-color: #fff;
        line-height: 22px; }
        .customer-content .customer-list-outer .added-customer-outer .added-customer .cust_add {
          font-style: normal;
          font-weight: 400;
          background-color: #f5f5f5;
          border: 1px solid #d9d9d9;
          border-radius: 3px;
          -webkit-border-radius: 3px;
          -ms-border-radius: 3px;
          -o-border-radius: 3px;
          padding: 2px 10px 3px 10px;
          margin-right: 5px;
          margin-bottom: 8px;
          display: inline-block; }
          .customer-content .customer-list-outer .added-customer-outer .added-customer .cust_add span {
            font-size: 12px;
            color: #222222; }
          .customer-content .customer-list-outer .added-customer-outer .added-customer .cust_add i {
            font-size: 11px;
            color: #b5b5b5;
            margin-left: 10px;
            cursor: pointer; }
          .customer-content .customer-list-outer .added-customer-outer .added-customer .cust_add:hover {
            border-color: #c2bfbf; }
            .customer-content .customer-list-outer .added-customer-outer .added-customer .cust_add:hover i {
              color: #999797; }

.table-content {
  padding: 0 15px;
  margin-top: 30px;
  margin-bottom: 30px; }
  .table-content h3 {
    margin-bottom: 15px; }
  .table-content table {
    border-collapse: collapse;
    border: 1px solid #454545;
    width: 100%; }
    .table-content table tr th {
      font-size: 12px;
      border: 1px solid #454545;
      border-collapse: collapse;
      padding: 10px 5px;
      background-color: #b5d5fd;
      vertical-align: middle;
      color: #000; }
      .table-content table tr th .fa {
        margin-left: 10px; }
      .table-content table tr th.sort_table {
        cursor: pointer; }
    .table-content table tr td {
      font-size: 12px;
      border: 1px solid #454545;
      border-collapse: collapse;
      padding: 7px 10px;
      vertical-align: middle;
      text-align: center; }
      .table-content table tr td a {
        color: #1fa67a;
        text-decoration: none; }
        .table-content table tr td a:hover {
          color: #5aa3ff; }
          .table-content table tr td a:hover .fa {
            color: #1fa67a; }
      .table-content table tr td .fa {
        color: #5aa3ff;
        margin: 0 3px; }
        .table-content table tr td .fa.green {
          color: #02ca48; }
        .table-content table tr td .fa.red {
          color: #fa3576; }
      .table-content table tr td:first-child {
        text-align: left; }
        .table-content table tr td:first-child i {
          margin-right: 5px;
          color: #393939; }
    .table-content table tr:nth-child(2n) {
      background-color: #e4effc; }
    .table-content table tr:nth-child(2n+1) {
      background-color: #ffffff; }
  .table-content.user-table {
    margin-top: 10px;
    min-height: 400px; }

.login-wrapper {
  width: 450px;
  margin: 0 auto;
  margin-top: 100px;
  min-height: 550px;
  position: relative; }
  .login-wrapper .login {
    border: 1px solid #5aa3ff;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0; }
    .login-wrapper .login .login-header {
      background-color: #5aa3ff;
      padding: 20px 20px; }
      .login-wrapper .login .login-header h6 {
        color: #fff;
        font-size: 25px;
        font-family: helvetica;
        font-weight: 300; }
    .login-wrapper .login .login-form {
      padding: 30px 20px; }
      .login-wrapper .login .login-form p {
        font-size: 15px;
        font-weight: 300;
        line-height: 20px; }
        .login-wrapper .login .login-form p a {
          text-decoration: none;
          color: #5aa3ff; }
          .login-wrapper .login .login-form p a:hover {
            color: #1fa67a; }
      .login-wrapper .login .login-form ul {
        margin-top: 25px; }
        .login-wrapper .login .login-form ul li {
          list-style: none;
          margin-bottom: 25px; }
          .login-wrapper .login .login-form ul li input[type="text"], .login-wrapper .login .login-form ul li input[type="password"] {
            border: 1px solid #979797;
            padding: 10px;
            width: 385px;
            font-size: 15px;
            font-weight: 300; }
            .login-wrapper .login .login-form ul li input[type="text"]:focus, .login-wrapper .login .login-form ul li input[type="password"]:focus {
              outline: none;
              border-color: #5aa3ff; }
          .login-wrapper .login .login-form ul li input[type="submit"], .login-wrapper .login .login-form ul li input[type="button"] {
            width: 407px;
            border: 0px solid transparent;
            padding: 13px 10px;
            text-align: center;
            background-color: #1fa67a;
            color: #fff;
            font-weight: 300;
            font-size: 15px; }
            .login-wrapper .login .login-form ul li input[type="submit"]:focus, .login-wrapper .login .login-form ul li input[type="button"]:focus {
              outline: none;
              box-shadow: 1px 0px 2px #5aa3ff; }

.generic-outer {
  min-height: 540px; }
  .generic-outer .content-box {
    border: 1px solid #b6b6b7;
    width: 400px;
    margin: 100px auto 0 auto; }
    .generic-outer .content-box .header {
      padding: 15px 20px;
      background-color: #d1d3d5;
      border-bottom: 1px solid #b6b6b7; }
      .generic-outer .content-box .header p {
        font-size: 18px;
        font-weight: 400; }
    .generic-outer .content-box .msg-body {
      padding: 20px 20px; }
      .generic-outer .content-box .msg-body h3 {
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: 400; }
      .generic-outer .content-box .msg-body p {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 22px; }
        .generic-outer .content-box .msg-body p a {
          text-decoration: none;
          color: #5aa3ff; }
          .generic-outer .content-box .msg-body p a:hover {
            color: #1fa67a; }

.footer {
  overflow: hidden;
  background-color: #5aa3ff;
  padding: 15px; }
  .footer .left-footer {
    float: left; }
  .footer .right-footer {
    float: right; }
    .footer .right-footer p a {
      color: #fff;
      text-decoration: none;
      font-size: 12px; }
      .footer .right-footer p a:hover {
        color: #48ddc4; }

/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s; }

.card__front {
  background-color: #ff5078; }

.card__back {
  background-color: #1e1e1e;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

/* click effect */
.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0); }

/* form control css start here */
.form-control-outer .form-header {
  background-color: #c9cfdc;
  padding: 15px 30px;
  border-bottom: 1px solid #c1c1c1; }
.form-control-outer .form-control {
  width: 750px;
  margin: 50px auto;
  background: #f4f4f4;
  border: 1px solid #c1c1c1;
  overflow: hidden; }
  .form-control-outer .form-control ul {
    padding: 30px; }
    .form-control-outer .form-control ul li {
      list-style: none;
      overflow: hidden;
      margin-bottom: 15px; }
      .form-control-outer .form-control ul li label {
        float: left;
        width: 30%;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding-top: 8px;
        padding-right: 15px; }
        .form-control-outer .form-control ul li label.m_top {
          padding-top: 20px; }
      .form-control-outer .form-control ul li .field-wrap {
        width: 65%;
        float: left; }
        .form-control-outer .form-control ul li .field-wrap input[type="text"], .form-control-outer .form-control ul li .field-wrap input[type="email"] {
          width: 96%;
          padding: 8px 2%;
          border: 1px solid #dadbdd;
          font-size: 16px;
          line-height: 20px; }
          .form-control-outer .form-control ul li .field-wrap input[type="text"]:focus, .form-control-outer .form-control ul li .field-wrap input[type="email"]:focus {
            outline: none;
            border: 1px solid #5aa3ff; }
        .form-control-outer .form-control ul li .field-wrap textarea {
          width: 96%;
          padding: 8px 2%;
          border: 1px solid #dadbdd;
          font-size: 16px;
          line-height: 20px; }
          .form-control-outer .form-control ul li .field-wrap textarea:focus {
            outline: none;
            border: 1px solid #5aa3ff; }
        .form-control-outer .form-control ul li .field-wrap select {
          padding: 8px 0;
          font-size: 16px;
          line-height: 20px; }
          .form-control-outer .form-control ul li .field-wrap select:focus {
            outline: none;
            border: 1px solid #5aa3ff; }
        .form-control-outer .form-control ul li .field-wrap .dropdown {
          position: relative;
          display: inline-block;
          vertical-align: middle;
          font-size: 16px;
          line-height: 20px;
          width: 446px;
          border: 1px solid #dadbdd;
          overflow: hidden;
          color: #000;
          z-index: 0; }
        .form-control-outer .form-control ul li .field-wrap .dropdown:before {
          width: 100%;
          right: 0px;
          top: 0px;
          bottom: 0px;
          color: #454545;
          background-color: white; }
        .form-control-outer .form-control ul li .field-wrap .dropdown:after, .form-control-outer .form-control ul li .field-wrap .dropdown:before {
          content: "";
          position: absolute;
          z-index: 1;
          pointer-events: none; }
        .form-control-outer .form-control ul li .field-wrap .dropdown:after {
          content: "\25BC";
          height: 30px;
          font-size: 8px;
          line-height: 1;
          right: 16px;
          top: 65%;
          margin-top: -8px;
          color: #cacaca; }
        .form-control-outer .form-control ul li .field-wrap .dropdown .selectbox {
          padding-right: 0;
          border: 0;
          width: 90%;
          border-radius: 3px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          text-indent: 10px;
          text-overflow: '';
          outline: 0;
          z-index: 99;
          position: relative; }
        .form-control-outer .form-control ul li .field-wrap input[type="submit"], .form-control-outer .form-control ul li .field-wrap input[type="button"] {
          background-color: #5aa3ff;
          color: #fff;
          padding: 8px 20px;
          border: 1px solid transparent;
          font-size: 16px;
          line-height: 20px; }
        .form-control-outer .form-control ul li .field-wrap small, .form-control-outer .form-control ul li .field-wrap #fieldname_edit {
          display: block;
          margin-top: 5px;
          font-size: 12px; }
      .form-control-outer .form-control ul li .check-wrap {
        padding-top: 10px;
        width: 65%;
        float: left; }
        .form-control-outer .form-control ul li .check-wrap .check-box {
          overflow: hidden;
          margin-bottom: 10px; }
          .form-control-outer .form-control ul li .check-wrap .check-box input[type="checkbox"], .form-control-outer .form-control ul li .check-wrap .check-box input[type="radio"] {
            float: left; }
          .form-control-outer .form-control ul li .check-wrap .check-box label {
            width: auto;
            margin: 0 0 0 10px;
            padding-top: 0;
            font-size: 15px;
            font-weight: 300; }
      .form-control-outer .form-control ul li:last-child {
        margin-bottom: 0; }

/* form control css end here */
.my-preferences-outer {
  padding: 50px 0; }
  .my-preferences-outer .my-preferences {
    width: 550px;
    margin: 0 auto;
    background-color: #f4f4f4;
    border: 1px solid #c1c1c1; }
    .my-preferences-outer .my-preferences .pref-header {
      padding: 15px 20px;
      background-color: #c9cfdc;
      border-bottom: 1px solid #c1c1c1; }
    .my-preferences-outer .my-preferences ul {
      padding: 20px; }
      .my-preferences-outer .my-preferences ul li {
        list-style: none;
        margin-bottom: 15px;
        overflow: hidden; }
        .my-preferences-outer .my-preferences ul li label {
          float: left;
          width: 175px;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          padding-top: 8px; }
        .my-preferences-outer .my-preferences ul li .field-wrap {
          float: left; }
          .my-preferences-outer .my-preferences ul li .field-wrap input[type="text"], .my-preferences-outer .my-preferences ul li .field-wrap input[type="email"], .my-preferences-outer .my-preferences ul li .field-wrap input[type="password"] {
            width: 315px;
            padding: 8px 2%;
            border: 1px solid #dadbdd;
            font-size: 16px;
            line-height: 20px; }
            .my-preferences-outer .my-preferences ul li .field-wrap input[type="text"]:focus, .my-preferences-outer .my-preferences ul li .field-wrap input[type="email"]:focus, .my-preferences-outer .my-preferences ul li .field-wrap input[type="password"]:focus {
              outline: none;
              border: 1px solid #5aa3ff; }
            .my-preferences-outer .my-preferences ul li .field-wrap input[type="text"]:hover, .my-preferences-outer .my-preferences ul li .field-wrap input[type="email"]:hover, .my-preferences-outer .my-preferences ul li .field-wrap input[type="password"]:hover {
              border: 1px solid #5aa3ff; }
          .my-preferences-outer .my-preferences ul li .field-wrap input[type="submit"], .my-preferences-outer .my-preferences ul li .field-wrap input[type="button"] {
            background-color: #5aa3ff;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            border: 0px solid transparent;
            padding: 10px 20px;
            margin-top: 10px; }
          .my-preferences-outer .my-preferences ul li .field-wrap em, .my-preferences-outer .my-preferences ul li .field-wrap a {
            padding-top: 10px;
            display: inline-block; }
          .my-preferences-outer .my-preferences ul li .field-wrap a {
            text-decoration: none; }
            .my-preferences-outer .my-preferences ul li .field-wrap a:hover {
              color: #1fa67a; }

.tab-outer .tab {
  padding: 15px; }
  .tab-outer .tab ul {
    overflow: hidden;
    border-top: 1px solid #c1c1c1;
    border-left: 1px solid #c1c1c1;
    border-right: 1px solid #c1c1c1;
    margin-bottom: -4px;
    display: inline-block;
    overflow: hidden; }
    .tab-outer .tab ul li {
      float: left;
      list-style: none; }
      .tab-outer .tab ul li a {
        display: inline-block;
        background-color: #f4f4f4;
        padding: 10px 15px;
        text-decoration: none;
        color: #393939;
        font-size: 15px;
        font-weight: 400; }
        .tab-outer .tab ul li a:hover, .tab-outer .tab ul li a.active {
          background-color: #1fa67a;
          color: #fff; }
  .tab-outer .tab .tab-body-outer {
    min-height: 500px;
    border: 1px solid #c1c1c1; }
    .tab-outer .tab .tab-body-outer .tab-body .access-options {
      padding: 15px; }
      .tab-outer .tab .tab-body-outer .tab-body .access-options p {
        font-size: 14px;
        margin-bottom: 15px;
        font-weight: 400; }
      .tab-outer .tab .tab-body-outer .tab-body .access-options h3 {
        margin-bottom: 15px; }
      .tab-outer .tab .tab-body-outer .tab-body .access-options .app-control {
        margin-bottom: 15px;
        overflow: hidden;
        padding-left: 20px; }
        .tab-outer .tab .tab-body-outer .tab-body .access-options .app-control label {
          font-size: 14px;
          margin-left: 10px; }

.my-properties {
  width: 550px;
  margin: 50px auto;
  background-color: #f4f4f4;
  border: 1px solid #c1c1c1; }
  .my-properties .pref-header {
    padding: 15px 20px;
    background-color: #c9cfdc;
    border-bottom: 1px solid #c1c1c1; }
  .my-properties .my-pref-body ul {
    border: 0px solid transparent;
    padding: 20px;
    width: 100%; }
    .my-properties .my-pref-body ul li {
      list-style: none;
      margin-bottom: 15px;
      overflow: hidden;
      float: none; }
      .my-properties .my-pref-body ul li label {
        float: left;
        width: 160px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        padding-top: 8px; }
      .my-properties .my-pref-body ul li input[type="text"], .my-properties .my-pref-body ul li textarea {
        width: 325px;
        float: left;
        padding: 8px 2%;
        border: 1px solid #dadbdd;
        font-size: 16px;
        line-height: 20px; }
        .my-properties .my-pref-body ul li input[type="text"]:focus, .my-properties .my-pref-body ul li textarea:focus {
          outline: none;
          border: 1px solid #5aa3ff; }
      .my-properties .my-pref-body ul li input[type="submit"], .my-properties .my-pref-body ul li input[type="button"], .my-properties .my-pref-body ul li button {
        background-color: #5aa3ff;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        border: 0px solid transparent;
        padding: 10px 20px;
        margin-top: 10px; }

.choose-customer-outer {
  min-height: 150px;
  max-width: 250px;
  margin: 100px auto; }
  .choose-customer-outer .choose-customer {
    margin-top: 20px; }
    .choose-customer-outer .choose-customer select {
      width: 100%; }

.popup-wrapper {
  padding-top: 70px;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: 9999; }
  .popup-wrapper .popup {
    width: 400px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0px 1px 2px #393939; }
    .popup-wrapper .popup .popup-header {
      background: #5aa3ff;
      overflow: hidden;
      padding: 15px; }
      .popup-wrapper .popup .popup-header h4 {
        width: 95%;
        float: left; }
      .popup-wrapper .popup .popup-header .close {
        float: right;
        width: 12px; }
    .popup-wrapper .popup .popup-body {
      padding: 15px; }
      .popup-wrapper .popup .popup-body ul li {
        list-style: none;
        overflow: hidden;
        margin-bottom: 15px; }
        .popup-wrapper .popup .popup-body ul li label {
          font-size: 15px;
          margin-bottom: 10px;
          font-weight: 400;
          display: block; }
        .popup-wrapper .popup .popup-body ul li .field-wrap {
          margin-bottom: 15px; }
          .popup-wrapper .popup .popup-body ul li .field-wrap input[type="text"], .popup-wrapper .popup .popup-body ul li .field-wrap input[type="password"], .popup-wrapper .popup .popup-body ul li .field-wrap input[type="email"], .popup-wrapper .popup .popup-body ul li .field-wrap textarea {
            width: 96%;
            padding: 5px;
            font-size: 15px;
            border: 1px solid #c1c1c1; }
            .popup-wrapper .popup .popup-body ul li .field-wrap input[type="text"]:focus, .popup-wrapper .popup .popup-body ul li .field-wrap input[type="password"]:focus, .popup-wrapper .popup .popup-body ul li .field-wrap input[type="email"]:focus, .popup-wrapper .popup .popup-body ul li .field-wrap textarea:focus {
              outline: none;
              border: 1px solid #5aa3ff; }
          .popup-wrapper .popup .popup-body ul li .field-wrap input[type="submit"], .popup-wrapper .popup .popup-body ul li .field-wrap input[type="button"] {
            background-color: #1fa67a;
            border: 0px solid transparent;
            padding: 10px 25px;
            color: #fff;
            font-size: 15px;
            font-weight: 400; }
          .popup-wrapper .popup .popup-body ul li .field-wrap input[type="button"] {
            background-color: #d5d5d5;
            color: #000;
            margin-left: 20px;
            padding: 10px 15px; }
          .popup-wrapper .popup .popup-body ul li .field-wrap .delete-btn {
            background-color: red !important; }
          .popup-wrapper .popup .popup-body ul li .field-wrap select {
            width: 100%; }
        .popup-wrapper .popup .popup-body ul li a {
          font-size: 13px;
          font-weight: 400;
          text-decoration: none;
          color: #5aa3ff; }
        .popup-wrapper .popup .popup-body ul li span {
          font-size: 13px;
          font-weight: 400; }
        .popup-wrapper .popup .popup-body ul li .user-field {
          float: left;
          width: 47%; }
          .popup-wrapper .popup .popup-body ul li .user-field:first-child {
            margin-right: 20px; }
        .popup-wrapper .popup .popup-body ul li.bg {
          background: #cacaca;
          padding: 10px;
          margin-bottom: 0; }
        .popup-wrapper .popup .popup-body ul li:last-child {
          margin-bottom: 0; }
      .popup-wrapper .popup .popup-body .custom-field-table {
        border: 1px solid #cacaca;
        width: 100%; }
        .popup-wrapper .popup .popup-body .custom-field-table tr th {
          width: 70%;
          padding: 10px;
          border: 1px solid #cacaca;
          border-collapse: collapse;
          background-color: #ebe9e9;
          text-align: left; }
        .popup-wrapper .popup .popup-body .custom-field-table tr th + th {
          width: 30%;
          text-align: center; }
        .popup-wrapper .popup .popup-body .custom-field-table tr td {
          width: 70%;
          padding: 10px;
          border-collapse: collapse;
          border: 1px solid #cacaca;
          text-align: left; }
          .popup-wrapper .popup .popup-body .custom-field-table tr td:nth-child(2n) {
            background-color: #fafafa; }
          .popup-wrapper .popup .popup-body .custom-field-table tr td:nth-child(2n+1) {
            background-color: #ffffff; }
        .popup-wrapper .popup .popup-body .custom-field-table tr td + td {
          width: 30%;
          text-align: center; }
  .popup-wrapper .popup2 {
    width: 650px; }

.added-customer-outer {
  width: 40%;
  float: left; }
  .added-customer-outer p {
    font-weight: 400;
    margin-bottom: 15px; }
  .added-customer-outer .added-customer {
    width: 100%;
    border: 1px solid #cacaca;
    padding: 15px 15px 7px 15px;
    background-color: #fff;
    line-height: 22px; }
    .added-customer-outer .added-customer .cust_add {
      font-style: normal;
      font-weight: 400;
      background-color: #f5f5f5;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      padding: 2px 10px 3px 10px;
      margin-right: 5px;
      margin-bottom: 8px;
      display: inline-block; }
      .added-customer-outer .added-customer .cust_add span {
        font-size: 12px;
        color: #222222; }
      .added-customer-outer .added-customer .cust_add i {
        font-size: 11px;
        color: #b5b5b5;
        margin-left: 10px;
        cursor: pointer; }
      .added-customer-outer .added-customer .cust_add:hover {
        border-color: #c2bfbf; }
        .added-customer-outer .added-customer .cust_add:hover i {
          color: #999797; }

.added-customer2 {
  width: 100%;
  border: 1px solid #cacaca;
  padding: 15px 15px 7px 15px;
  background-color: #fff;
  line-height: 22px; }
  .added-customer2 .cust_add {
    font-style: normal;
    font-weight: 400;
    background-color: #f5f5f5;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 2px 10px 3px 10px;
    margin-right: 5px;
    margin-bottom: 8px;
    display: inline-block; }
    .added-customer2 .cust_add span {
      font-size: 12px;
      color: #222222; }
    .added-customer2 .cust_add i {
      font-size: 11px;
      color: #b5b5b5;
      margin-left: 10px;
      cursor: pointer; }
    .added-customer2 .cust_add:hover {
      border-color: #c2bfbf; }
      .added-customer2 .cust_add:hover i {
        color: #999797; }

.selected_fitlers_container {
  overflow: hidden; }
  .selected_fitlers_container .selected_filter {
    font-style: normal;
    font-weight: 400;
    background-color: #f5f5f5;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 4px 10px;
    margin-right: 10px;
    margin-bottom: 8px;
    display: inline-block;
    font-size: 13px;
    margin-left: 0px; }
    .selected_fitlers_container .selected_filter span {
      font-size: 10px;
      background: #e6e8e6;
      padding: 3px 5px;
      border-radius: 50%;
      text-align: center;
      display: inline-block;
      margin-left: 5px;
      cursor: pointer; }

.paging {
  padding: 15px 0; }
  .paging a, .paging span {
    background-color: #393939;
    color: #fff;
    display: inline-block;
    padding: 3px 6px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-decoration: none; }
  .paging span {
    background: #cacaca;
    color: #393939; }

.flash {
  position: relative;
  height: 0;
  width: 750px;
  margin: 0 auto; }

.flash-msg {
  width: 750px;
  margin: 10px auto; }

.table-outer {
  overflow: auto;
  padding-bottom: 15px;
  max-height: 700px; }

.hide {
  display: none; }

.popup_table {
  border: 1px solid #cacaca;
  margin-bottom: 15px;
  width: 100%;
  max-width: 100%; }
  .popup_table thead tr th {
    font-size: 12px;
    border: 1px solid #454545;
    border-collapse: collapse;
    padding: 10px 5px;
    background-color: #b5d5fd;
    vertical-align: middle;
    color: #000; }
  .popup_table tbody tr td {
    font-size: 12px;
    border: 1px solid #454545;
    border-collapse: collapse;
    padding: 7px 10px;
    vertical-align: middle;
    text-align: center; }

.formula_field_btn, .relation_field_btn {
  background-color: #5aa3ff;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 20px; }

.cancel-popup {
  background-color: #d5d5d5;
  color: #fff;
  margin-left: 20px;
  padding: 10px 15px;
  border: 0px solid;
  font-size: 16px;
  line-height: 20px; }

.add_f_field, .add_r_field {
  text-align: right;
  padding-bottom: 5px; }
  .add_f_field a, .add_r_field a {
    text-decoration: none;
    font-size: 12px; }
    .add_f_field a i, .add_r_field a i {
      margin-right: 5px; }

table tr.bg {
  background-color: #dfe2e2 !important; }

#display-count {
  padding: 0 0 10px 0; }
  #display-count p {
    padding-top: 8px;
    font-size: 12px;
    font-weight: 600; }

#navigation ul {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px; }
  #navigation ul li {
    display: inline; }
    #navigation ul li > a, #navigation ul li > span {
      padding: 7px 16px;
      font-size: 18px;
      line-height: 1.3333333;
      color: #337ab7;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #ddd;
      position: relative;
      margin-left: -1px;
      float: left; }
      #navigation ul li > a:hover, #navigation ul li > span:hover {
        z-index: 2;
        color: #23527c;
        background-color: #eee;
        border-color: #ddd; }
    #navigation ul li:first-child > a, #navigation ul li:first-child > span {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px; }
    #navigation ul li:last-child > a, #navigation ul li:last-child > span {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px; }
    #navigation ul li.active a, #navigation ul li.active span, #navigation ul li.active a:hover, #navigation ul li.active span:hover, #navigation ul li.active a:focus, #navigation ul li.active span:focus {
      z-index: 3;
      color: #fff;
      cursor: default;
      background-color: #337ab7;
      border-color: #337ab7; }
