<footer class="footer">
    <div class="left-footer">
        <p>&copy; aizan.com</p>
    </div>
    <div class="right-footer">
        <p>
            <a href="#">Privecy Policy</a>
        </p>
    </div>
</footer>