{% extends 'loggedtemplate.html.twig' %}

{% block title %}
    <title>Dashboard Page</title>
{% endblock %}

{% block body %}
    <div style="height:500px; padding:25px 15px;">
    <h1>Dashboard page</h1>
    </div>

{% endblock %}