{% extends 'loggedtemplate.html.twig' %}

{% block title %}
    <title>Dashboard Page</title>
{% endblock %}

{% block breadcrumb %}

    <div class="bread-crumb">
        <span id="module_name">Home</span>
        <i class="fa fa-long-arrow-right"></i>
        <span>Administrator</span>

    </div>
{% endblock %}
{% block custom_feature %}
{% endblock %}

{% block body %}
    <script>
        if ($('.fix_table').length) {
            var table = $('table.fix_table');
            //console.log(jQuery.floatThead());
            table.floatThead({
                position: 'absolute',
                scrollContainer: function (table) {
                    return table.closest('.table-outer');
                }
            });
        }
    </script>
    <div class="all_modules" style="min-height:520px;">
        
        
    </div>
{% endblock %}