<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Aizan: No access</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="wrapper login-bg">
            <header class="header">
                <div class="header-inner">

                    <div class="logo" style="text-align: left;">
                        <a href="/">
                            <img src="assets/images/aizan_logo2.png" width="120" alt=""/></a>
                    </div>
                </div>
            </header>

            <div class="no-access">
                <h3><i class="fa fa-exclamation-triangle"></i> <span>Access Restricted</span></h3>  
                <p>You do not have permission to access this service. <br/>Please contact your administrator to get permission to access this service.</p>
            </div>
            <footer class="footer">
                <div class="left-footer">
                    <p>&copy; aizan.com</p>
                </div>
                <div class="right-footer">
                    <p>
                        <a href="#">Privecy Policy</a>
                    </p>
                </div>
            </footer>

        </div>
    </body>
</html>
