{% extends 'loggedtemplate.html.twig' %}

{% block title %}
    <title>Expertise.com: List of users</title>
{% endblock %}

{% block breadcrumb %}
    <div class="bread-crumb">
        <span>Expertise.com Marketing Mgmt</span>
        <i class="fa fa-long-arrow-right"></i>
        <span>Manage Users</span>
        
    </div>
{% endblock %}
{% block custom_feature %}
    <div class="custom-feature">
                    <a href="#" class="add-popup" data-modal-id="#inviteUsers"><i class="fa fa-user-plus"></i>Share app with new user</a>
                    <a href="/roles"><i class="fa fa-user-secret"></i>Manage Roles</a>
    </div>
    
{% endblock %}
{% block body %}

    <span class="notify"><i class="fa fa-info-circle"></i><span class="info-notice">1 Role Changed</span> </span>
    <div class="content-table">
    <div class="left-sidebar">
                
                <div class="filter-box">
                    <h6><a href="#"><i class="fa fa-caret-down"></i>Role</a></h6>
                    <ul id="roles_ul">
                        
                    </ul>
                </div>
                <div class="filter-box">
                    <h6><a href="#"><i class="fa fa-caret-down"></i>Status</a></h6>
                    <ul id="status_ul">
                    </ul>
                </div>
            </div>
    <div class="table-content user-table">
        <div class="user-filter" style="padding:0">
        <div class="search-box" style="margin-left:0">
            <div class="search">
                <input type="text" name="user-search" placeholder="Search User" id="search_user">
                <i class="fa fa-search"></i>
            </div>
        </div>
            <div class="ajax-loader" id="loader"><i class="fa fa-refresh fa-spin fa-1x fa-fw"></i></div>
        <div class="display-result">
            <p>Displaying <span class="curr-result">  </span> out of <span class="total-result"></span> Users</p>
        </div>
    </div>
        {% if app.request.get('invitation_send') != '' %}
            <div style="color:green; margin: 10px 0;" id="inviteMsg"> '{{ app.request.get('invitation_send') }}' email has been registered and An invitation has been sent to this email.</div>
        {% endif %}
                <table id="userList" style="display:none;">
                    <thead>
                        <tr>
                            <th class="sort_table" data-order-by="name" data-order-type="desc">Name<i class="fa fa-caret-down"></i></th>
                            <th class="sort_table" data-order-by="role" data-order-type="desc">Role<i class="fa fa-caret-down"></i></th>
                            <th class="sort_table" data-order-by="status" data-order-type="desc">Status<i class="fa fa-caret-down"></i></th>
                            <th class="sort_table" data-order-by="last_login" data-order-type="desc">Last Visit<i class="fa fa-caret-down"></i></th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
    </div>
    <div class="popup-wrapper" id="inviteUsers" style="display:none;">
            <div class="popup">
                <div class="create-roles-outer">
                    <div class="popup-header">
                        <h4>Invite Users for this App</h4>
                        <a class="close-popup" href="#"><i class="fa fa-times red"></i></a>
                    </div>
                    <div class="popup-body">
                        <div class="create-roles" id="invite-users-action">
                            <ul>
                                <li>
                                    <label>Email</label>
                                    <div class="field-wrap">
                                        <input type="email" name="user_email" id="useremail" placeholder="Email"/>
                                        <span class="validation_msg"></span>
                                    </div>
                                </li>
                                <li>
                                    <label>Roles</label>
                                    <div class="field-wrap">
                                        <select id="selected_role">
                                            
                                        </select>
                                        <span class="validation_msg"></span>
                                    </div>
                                </li>
                                <li>

                                    <div class="field-wrap">
                                        <input type="submit" name="invite_users" value="Invite" id="invite_users" />
                                        <input type="button" name="cancel" class="close-popup" value="Cancel" />
                                    </div>
                                    <p id="resp-msg"></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}