<li><label>{{field_settings.module_field_display_name}}:</label> 
    <div class="field-wrap">
        <input name="{{field_settings.module_field_name}}" id="{{field_settings.module_field_name}}"  value="{{data is defined ? data | round (1.floor) : ''}}" type="text" ><br>
    </div>
</li>