<li><label>{{field_settings.module_field_display_name}}:</label> 
    <div class="field-wrap">

        <textarea name="{{field_settings.module_field_name}}" id="{{field_settings.module_field_name}}" >{{data is defined ? data : ''}}</textarea>
        <br>
    </div>
</li>