{# empty Twig template #}

<form>
     <input name="path" value="" type="text"> Path <br>
    <input name="module" value=""  type="text"> Module<br>
    <input name="config[test_header]" type="checkbox"> Test header <br>
    <input name="config[delete_existing_before_insert]" type="checkbox"> Delete Existing before insert <br>
    <input name="submit" type="submit" value="Submit">
</form>
