{# empty Twig template #}

<form>
     <input name="path" value="" type="text"> Path <br>
    <input name="module" value=""  type="text"> Module<br>
    <input name="config[test_header]" type="checkbox"> Test header <br>
    <input name="config[delete_existing_before_insert]" type="checkbox"> Delete Existing before insert <br>
    <select name="customer">
        <option value="">select</option>
        <option value="1">Expertise</option>
        <option value="3">CMN</option>
        <option value="2">SODA</option>
        
    </select>
    <input name="submit" type="submit" value="Submit">
</form>
