{% if pagination.total_count > 0 %}
    {% for i in 1..pagination.total_count %}
        {% if i== pagination.active %}
            {{i}} 
        {% else %}
            <a href="{{ path('intelligent_setting_view', app.request.query.all| merge( {'page_no': i})) }}">{{i}}</a>
        {% endif %}
    {% endfor %}
{% endif %}
