{% if pagination.total_count > 0 %}
    <div class="paging">
    {% for i in 1..pagination.total_count %}
        {% if i== pagination.active %}
            <span>{{i}}</span> 
        {% else %}
            <a href="{{ path('intelligent_'~module~'_view', app.request.query.all| merge( {'page_no': i})) }}">{{i}}</a>
        {% endif %}
    {% endfor %}
    </div>
{% endif %}
